.marketing-mag {
    margin: 20px 0;
    
    h3 {
        font-family: "OpenSans-Bold";
        font-size: 14px; 
        color:#333333;
    }
    
    p {
        font-family: "OpenSans-Regular";
        color:#333333;
        font-size: 14px;
    }
    
    h1 {
        font-family: "OpenSans-Bold";
        font-size: 16px;
        color:#32A443;
        margin:20px 0;
    }
}