.pageTitle {
    margin-bottom: 2rem;
    border-bottom: 1px solid #ccc;
    
    h1 {
        font-family: "HelveticaNeueLTCom-Th";
        font-size:40px;
    }
    
    p {
        font-family: "OpenSans-Regular";
        font-size:14px;
        color: #333333;
        
        b {
            font-family: "OpenSans-Bold";
            font-size:14px;
        }
        
    }
}

.greenBtn {
    padding: 0;
    width: 180px;
    height: 40px;
    display: block;
    color: #fff;
    text-align: center;
    font-size: .8rem;
    line-height: .85rem;
    background: image-url('btn-sprites.png') no-repeat -10px -10px;
    &:hover {
        color: #fff;
        background-position: -10px -60px;
    }
}

.greenDownload {
    float: left;
    a {
        padding-left: 40px;
        height: 25px;
        display: inline-block;
        color:#32A543;
        background: image-url('download.png') no-repeat left 0;        
        &:hover {
            color:#32A543;
        }
    }
}

.greenCircleList {
    margin: 0;
    list-style-type: none;
    li {
        margin-bottom: 2rem;
        padding-left: 45px;
        min-height: 50px;
        width: 100%;
        float: left;
        background: image-url('list-circle.png') no-repeat 0 0;
        font-family: "OpenSans-Regular";
        font-size:14px;
        color:#333333;
    }
    @media (max-width: 669px) {
        & {
            li {
                margin-bottom: 1rem;
                width: 100%;
            }
        }
    }
}

/** General Error **/
.generalMessage {
    padding: 10px 0;
    .success {
        color: #32a443;
    }
    .error {
        color: #d2232a;
        background: none;
    }
}
/** /General Error **/

/** Form Styles **/
.labelWrapper {
    padding: 0.25rem 0.5rem 0.375rem;
    font-weight: normal;
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    text-align: center;
    text-decoration: none;
    font-size: 0.6875rem;
    line-height: 1;
    white-space: nowrap;
    display: inline-block;
    position: relative;
    margin-bottom: inherit;
    color: white;

    .required {
        margin: 10px 20px;
        display: inline-block;
        color: #D2232A;
    }
    label {
        padding: 5px 17px;
        display: inline-block;
    }
    div.error {
        display: inline-block;
    }
    span.error {
        margin: 10px 0;
        padding: 0;
        display: inline-block;
        color: #d2232a;
        background: none;
    }
}
.roundInputText {
    border-radius: 20px;
}
/** /Form Styles **/
